[submodule "Module-3"]
	path = Module-3
	url = https://github.com/ngzhekai/Coursera-Module-3-Coding-Assignment.git
[submodule "Module-2"]
	path = Module-2
	url = https://github.com/ngzhekai/Coursera-Module-2-Coding-Assignment.git
[submodule "Module-4"]
	path = Module-4
	url = https://github.com/ngzhekai/Coursera-Module-4-Coding-Assignment.git
[submodule "Module-5"]
	path = Module-5
	url = https://github.com/ngzhekai/Coursera-Module-5-Coding-Assignment.git
