[submodule "Module-3"]
	path = Module-3
	url = https://github.com/ngzhekai/Coursera-Module-3-Coding-Assignment.git
[submodule "Module-2"]
	path = Module-2
	url = https://github.com/ngzhekai/Coursera-Module-2-Coding-Assignment.git
